body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
    line-height: 1.5;
    min-height: 100vh;
    background: rgb(16, 17, 19);
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: rgb(26, 30, 35);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
}

.forgotPassword {
    text-align: center;
}
